.container {
  overflow: auto;
  position: relative;
}

.wrapper {
  position: relative;
  height: 0;
}

.itemsContainer {
  transform: translateY(var(--offset-y, 0));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
}

.itemWrapper {
  height: var(--item-height, auto);
}
